#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	mkdir -p .cargo
	cp debian/vendor-config.toml .cargo/config.toml
	sed -i 's/edition = "2024"/edition = "2021"/' vendor/clap_lex/Cargo.toml
	cargo build --release --offline

override_dh_auto_test:
	cargo test --release --offline --lib

override_dh_auto_install:
	# Install binary
	install -d debian/ferrisfetch/usr/bin
	install -m 0755 target/release/ferrisfetch debian/ferrisfetch/usr/bin/ferrisfetch
	# Install shell completions
	install -d debian/ferrisfetch/usr/share/bash-completion/completions
	install -m 0644 completions/ferrisfetch.bash debian/ferrisfetch/usr/share/bash-completion/completions/ferrisfetch
	install -d debian/ferrisfetch/usr/share/zsh/vendor-completions
	install -m 0644 completions/_ferrisfetch debian/ferrisfetch/usr/share/zsh/vendor-completions/_ferrisfetch
	install -d debian/ferrisfetch/usr/share/fish/vendor_completions.d
	install -m 0644 completions/ferrisfetch.fish debian/ferrisfetch/usr/share/fish/vendor_completions.d/ferrisfetch.fish
	# Install documentation
	install -d debian/ferrisfetch/usr/share/doc/ferrisfetch
	install -m 0644 README.md debian/ferrisfetch/usr/share/doc/ferrisfetch/README.md

override_dh_auto_clean:
	rm -rf .cargo
	cargo clean || true
	dh_auto_clean
